<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <style>
        *{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            background: greenyellow;
            color: black;
        }
    </style>
</head>
<body>
    <center>
        <h1>This is ABOUT page</h1>

        <h2><a href="{% url 'home_string' %}">HOME string</a></h2>
        <h2><a href="{% url 'home' %}">HOME page</a></h2>
        <hr>
        <h2><a href="{% url 'app3:services_string' %}">SERVICES string</a></h2>
        <h2><a href="{% url 'app3:services' %}">SERVICES page</a></h2>
        <hr>
        <h2><a href="{% url 'gallery_string' %}">GALLERY string</a></h2>
        <h2><a href="{% url 'gallery' %}">GALLERY page</a></h2>
    </center>
</body>
</html>